.row {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.col {
  flex: 1;
  height: 300px;
  background: #ddd;
  border-radius: 6px;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}